/*! З М І Н Н І */

:root {
    --paragraph-color: rgba(125, 125, 125, 1);
    --link-color: rgba(3, 169, 244, 1);
    --subtitle-color: rgba(180, 173, 158, 1);
    --article-text-color: rgba(98, 98, 98, 1);
    --background-color: rgba(255, 255, 255, 1);
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}

/*! З А Г А Л Ь Н І  С Т И Л І */

* {
    box-sizing: border-box;
}

a:hover {
    color: var(--link-color);
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    background-color: white;
}

.container {
    width: 908px;
    margin: 0 auto;
}

body,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/*! Х Е Д Е Р */

.header {
    padding: 71px 183px 92px 168px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 99px;
    list-style-type: none;
    text-transform: uppercase;
    color: var(--paragraph-color);
    justify-content: center;
}

.header-link {
    color: var(--paragraph-color);
    line-height: 18.66px;
    font-weight: inherit;
}

/*! О С Н О В Н А   С Е К Ц І Я */

.hero {
    padding-right: 147px;
    padding-left: 147px;
    padding-bottom: 66px;
}

.hero-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 94px;
    gap: 65px;
    row-gap: 130px;
}

.hero-item {
    flex-basis: calc((100% - 65px) / 3);
}

.hero-image,
.hero-subtitle {
    margin-bottom: 32px;
}

/*! Х Е Р О  Т Е К С Т */

.hero-title {
    margin-bottom: 40px;
    font-size: 30px;
    color: var(--article-text-color);
    line-height: 16.09px;
    font-weight: 400;
}

.hero-subtitle {
    color: var(--subtitle-color);
    font-family: var(--second-family);
    line-height: 18.66px;
    font-weight: 300;
    text-transform: uppercase;
}

.hero-desk {
    font-family: var(--font-family);
    color: var(--article-text-color);
    font-weight: 400;
    line-height: 18.66px;
}

/*! К Н О П К А */

.hero-btn {
    background-color: white;
    color: var(--article-text-color);
    border-color: var(--article-text-color);
    border-width: 1px;
    font-weight: inherit;
    display: block;
    margin: 0 auto;
    padding: 20px 48px 21px 49px;
    line-height: 18.66px;
}