@use '../utils/variables' as *;
@use '../base/base' as *;
@use '../base/reset' as *;

.header {
  padding-top: 71px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    align-items: center;
    gap: 99px;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: center;
  }

  &__link {
      color: $paragraph-color;
      line-height: 18.66px;
      font-weight: inherit;
      font-size: 14px;
      font-weight: 400;

      &:hover {
        color: $link-color;
      }
    }
}
