@use '../utils/variables' as *;

* {
    box-sizing: border-box;
}

a:hover {
    color: $link-color;
}

a {
    text-decoration: none;
}

body {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
}

.container {
    width: 908px;
    margin: 0 auto;
}

body,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}